<nav class="navbar">
    <div class="menu-icon" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="responsive-menu">
            <li>user</li>
            <a routerLink="expenses"><li>Expenses</li></a>
            <a routerLink="/card"><li>Payments</li></a>
        </div>
    </div>
    <div class="menu">
        <div class="nav">
            <div>Card Management</div>
            <a routerLink="../expenses"><div>Expenses</div></a>
            <a routerLink="/card"><div>Payments</div></a> 
        </div>
        <div class="selector">
            <select [(ngModel)]="selectedCard" class="card-selector">
                <option value="card1">Card 1</option>
                <option value="card2">Card 2</option>
                <option value="card3">Card 3</option>  
            </select>
        </div>
        
    </div>
    <div class="user-name">
            <p>user</p>
        </div>
</nav>
