
<nav class="navbar">
    <div class="menu-icon" (click)="toggleMenu()">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="responsive-menu">
            <li><a href="#">Expenses</a></li>
            <li><a href="#">Payments</a></li>
        </div>
    </div>
    <ul>
        <div class="logo">Card Management</div>
    </ul>
    <div class="card-selector">
        <select [(ngModel)]="selectedCard">
            <option value="card1">Card 1</option>
            <option value="card2">Card 2</option>
            <option value="card3">Card 3</option>
        </select>
    </div>

</nav>
